<div id="section21" class="container-fluid section">
  <div class="container">
    <center>
      <h1><span ng-bind="lang['ProjectTitle']"></span></h1>
    </center>
    <br />
    <div class="row">
      <div class="col-sm-6 no-padding-xs">
        <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="images/sample.jpg" alt="Los Angeles" style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="images/sample.jpg" alt="Chicago" style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="images/sample.jpg" alt="New york" style="width:100%;">
                        </div>
                    </div>

                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> -->
        <img src="images/banner.png" alt="EUCA Banner" style="width: 100%" />
      </div>
      <div class="col-sm-6 no-padding-xs">
        <br class="visible-xs" />
        <!-- <h2 style="margin-top:0">Short description of the project</h2> -->
        <!--<p style="text-align: justify" ng-bind="mainDescription[activeLang.title]">
                        </p>-->

        <span class="text-justify" ng-if="activeLang.title=='EN'">
          <p>
            <strong>“Support to the Georgian Competition Agency”</strong> is a
            project funded by the European Union. The project started in January
            2017 and was completed in 2020.
          </p>
          <p>
            With the <strong>overall objective</strong> to enhance the law
            enforcement capacity and professional skills of the Competition
            Agency of Georgia, the project aimed to support the institutional
            capacity building, to improve the legal framework and to raise
            awareness about the importance of competition law and the role of
            competition authority among different target groups.
          </p>
          <p>
            The project’s results will contribute to a favorable business
            climate suitable to stimulate trade, to attract foreign investments,
            to growth of competitive forces in the market and therefore to
            overall fostering of economic development of Georgia in line with
            the DCFTA provisions and the EU best practices.
          </p>
          <p>
            The EU experts - with an important presence of senior officials from
            the Competition Council of the Republic of Lithuania, which was a
            member of the project implementing Consortium, led by B&amp;S Europe
            - worked alongside local experts to support the Competition Agency
            of Georgia and the other stakeholders (line ministries, sector
            regulators, public and private sector).
          </p>
          <p>The Project’s three main components contributed to:</p>
          <ul>
            <li>
              Strengthening the efficiency of legal, economic and technical
              capacities of the Competition Agency to implement and enforce the
              competition policy;
            </li>

            <li>
              Improving the cooperation between the Competition Agency and
              Sector Regulators;
            </li>

            <li>
              Promoting competition culture in the country.
            </li>
          </ul>
        </span>
        <span class="text-justify" ng-if="activeLang.title=='GE'">
          <p>
            ევროკავშირის მიერ დაფინანსებული პროექტი
            <strong>“საქართველოს კონკურენციის სააგენტოს მხარდაჭერა“</strong>
            2017 წელს დაიწყო და დასრულდა 2020 წლის იანვარში. პროექტის
            <strong>ძირითადი მიზანს</strong> საქართველოს კონკურენციის სააგენტოს
            მიერ კონკურენციის შესახებ კანონის აღსრულების ეფექტიანობის გაზრდა და
            სააგენტოს თანამშრომელთა კვალიფიკაციის ამაღლება წარმოადგენდა.
            პროექტმა ხელი შეუწყო ინსტიტუციურ განვითარებას, არსებული
            კანონმდებლობის დახვეწას, კონკურენციის სააგენტოს საქმიანობის
            პროდუქტიულობის ზრდას და სააგენტოს როლის შესახებ ცნობიერების
            ამაღლებას.
          </p>
          <p>
            პროექტის შედეგები მნიშვნელოვანი იქნება ბიზნეს გარემოს გაუმჯობესებისა
            და ვაჭრობის ზრდისთვის, ასევე უცხოური ინვესტიციების მოზიდვისა და
            ბაზარზე კონკურენციის გაძლიერებისთვის. შესაბამისად, პროექტი ხელს
            შეუწყობს ეკონომიკურ განვითარებას ევროკავშირის საუკეთესო გამოცდილების
            და DCFTA–ს დებულებების თანახმად.
          </p>
          <p>
            პროექტს ახორციელებდა კონსორციუმი, რომელსაც ხელმძღვანელობდა “Business
            and Strategies in Europe.” პროექტის ფარგლებში ევროკავშირის
            ექსპერტები, მათ შორის ლიეტუვას რესპუბლიკის კონკურენციის საბჭოს
            (რომელიც ამავდროულად არის კონსორციუმის წევრი) მაღალი რანგის
            წარმომადგენლები, ქართველ კოლეგებთან ერთად ეხმარებოდნენ, როგორც
            საქართველოს კონკურენციის სააგენტოს, ასევე სხვა დაინტერესებულ
            უწყებებს.
          </p>
          <p>
            კონკრეტული ამოცანების მიხედვით, პროექტი სამი ძირითადი მიმართულებით
            მუშაობდა:
          </p>
          <ul>
            <li>
              კონკურენციის სააგენტოს სამართლებრივი, ეკონომიკური და ტექნიკური
              შესაძლებლობების გაუმჯობესება კონკურენციის პოლიტიკის სათანადო
              აღსრულებისთვის;
            </li>

            <li>
              თანამშრომლობის გაძლიერება კონკურენციის სააგენტოსა და დარგობრივ
              მარეგულირებლებს შორის;
            </li>

            <li>საზოგადოებაში კონკურენციის კულტურის დახვეწა.</li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
