<!-- <div>
        <div class="container">
            <h1><span ng-bind="lang['News']"></span></h1>
        </div>
    </div> -->


<!-- <div id="section3" class="section">
        <div class="container">
            <h1><span ng-bind="lang['ExploreTheResults']"></span></h1>
            <div class="text-container">
                <div><strong>PLACE FOR A TEXT</strong></div>
            </div>
        </div>
    </div> -->



<div id="home" ng-include="'views/home-content.html'"></div>
<div id="about-us" ng-include="'views/about-us.html'"></div>
<!-- <div id="our-team" ng-include="'views/our-team.html'"></div> -->
<div id="news" ng-include="'views/news.html'"></div>
<!-- <div id="multimedia" ng-include="'views/multimedia.html'"></div> -->
<div id="newsletter" ng-include="'views/newsletter.html'"></div>
<div id="external" ng-include="'views/external.html'"></div>
<div id="contact" ng-include="'views/contact.html'"></div>